<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title>유카뮤 - 육하원칙 커뮤니티</title>

    <!--<link th:href="@{coreui/vendors/flag-icon-css/css/flag-icon.min.css}" rel="stylesheet">-->
    <!--<link th:href="@{coreui/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">-->
    <!--<link th:href="@{coreui/vendors/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet">-->

    <!--<link href="../static/coreui/css/style.css" rel="stylesheet">-->
    <!--<link href="../static/coreui/vendors/pace-progress/css/pace.min.css" rel="stylesheet">-->

    <link th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.css}" href="" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/coreui/css/style.css}" href="" rel="stylesheet">
    <link th:href="@{/coreui/css/coreui-icons.css}" rel="stylesheet">
    <link th:href="@{/coreui/ie7/ie7.css}" rel="stylesheet">

    <!--<link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/coreui-icons.min.css">-->
    <!--<style type="text/css">/* Chart.js */-->
    <!--@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style><style type="text/css">/* Chart.js */-->
    <!--@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style><style type="text/css">/* Chart.js */-->
    <!--@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>-->
</head>
<body th:fragment="body" class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <h2>유 카 뮤</h2>
            <!--<img class="navbar-brand-full" src="img/brand/logo.svg" width="89" height="25" alt="CoreUI Logo">-->
            <!--<img class="navbar-brand-minimized" src="img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">-->
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item px-3">
                <a class="nav-link" href="#">고루보기</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <!--<img class="img-avatar" src="img/avatars/6.jpg" alt="admin@bootstrapmaster.com">-->
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                        <strong>Account</strong>
                    </div>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-bell-o"></i> Updates
                        <span class="badge badge-info">42</span>
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-envelope-o"></i> Messages
                        <span class="badge badge-success">42</span>
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-tasks"></i> Tasks
                        <span class="badge badge-danger">42</span>
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-comments"></i> Comments
                        <span class="badge badge-warning">42</span>
                    </a>
                    <div class="dropdown-header text-center">
                        <strong>Settings</strong>
                    </div>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-user"></i> Profile</a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-wrench"></i> Settings</a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-usd"></i> Payments
                        <span class="badge badge-dark">42</span>
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-file"></i> Projects
                        <span class="badge badge-primary">42</span>
                    </a>
                    <div class="divider"></div>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-shield"></i> Lock Account</a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
        </ul>
        <ul sec:authorize="!isAuthenticated()" class="nav navbar-nav d-md-down-none">
            <li class="nav-item px-3">
                <a class="nav-link" th:href="@{/user/join}">회원가입</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" th:href="@{/user/login}">로그인</a>
            </li>
        </ul>
        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav d-md-down-none">
            <li class="nav-item px-3">
                <a class="nav-link" th:href="@{/user/info}" th:text="${loginUser.nickname}"></a>님 환영합니다.
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" th:href="@{/logout}">로그아웃</a>
            </li>
        </ul>

        <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">유카뮤니티</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/free">
                            <i class="nav-icon icon-drop"></i> 자유 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/picture">
                            <i class="nav-icon icon-pencil"></i> 사진 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/issue">
                            <i class="nav-icon icon-pencil"></i> 이슈 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/tip">
                            <i class="nav-icon icon-pencil"></i> 팁 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/worry">
                            <i class="nav-icon icon-pencil"></i> 고민 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/question">
                            <i class="nav-icon icon-pencil"></i> 질문 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/discussion">
                            <i class="nav-icon icon-pencil"></i> 토론 </a>
                    </li>
                    <!--<li class="divider"></li>-->
                </ul>
            </nav>
        </div>
        <main class="main">
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="card">
                        <div class="card-header">
                            <strong>자유게시판</strong>
                            <small>글읽기</small>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h2 th:text="${board.title}">제목</h2>
                            </div>
                            <div class="jumbotron jumbotron-fluid" style="padding-top:3px">
                                <nav aria-label="breadcrumb" role="navigation">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="javascript:"th:text="${board.user.nickname}"></a>님
                                        </li>
                                        <li class="breadcrumb-item">
                                            <small th:text="${#temporals.format(board.date.regDate, 'yyyy/MM/dd HH:mm')}"></small>
                                        </li>
                                        <li class="breadcrumb-menu d-md-down-none">
                                            <div class="btn-group" role="group" aria-label="Button group">
                                                <a class="btn" href="javascript:" th:text="${board.great}">
                                                    <i class="icon-graph"></i> &nbsp;-12</a>
                                                <a class="btn" href="javascript:" th:text="${board.view}">
                                                    <i class="icon-settings"></i> &nbsp;-1234</a>
                                            </div>
                                        </li>
                                    </ol>
                                </nav>
                                <div class="navbar float-right" sec:authorize="isAuthenticated()" th:remove="${loginUser.id == board.user.id} ? 'none' : 'all'" >
                                    <form method="post" th:action="@{/board/{category}/delete(category=${board.category.name})}">
                                        <a th:href="@{/board/{category}/{boardId}/rewrite(category=${board.category.name}, boardId=${board.id})}" class="btn btn-sm btn-primary">
                                            <i class="fa fa-dot-circle-o"></i> 수정</a>
                                        &nbsp;
                                        <input type="hidden" name="boardId" th:value="${board.id}">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fa fa-dot-circle-o"></i> 삭제</button>
                                    </form>
                                </div>
                                <div class="container" style="max-width: 97%;">
                                    <p th:text="'누가 : ' + ${board.content.who}">누가 : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, maxime. .</p>
                                    <p th:text="'언제 : ' + ${board.content.when}">언제 : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, maxime. </p>
                                    <p th:text="'어디서 : ' + ${board.content.where}">어디서 : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, maxime. </p>
                                    <p th:text="'무엇을 : ' + ${board.content.what}">무엇을 : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, maxime. </p>
                                    <p th:text="'어떻게 : ' + ${board.content.how}">어떻게 : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, maxime. </p>
                                    <p th:text="'왜 : ' + ${board.content.why}">왜 : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, maxime. </p>
                                    <hr class="my-4">
                                </div>
                                <div class="container" style="max-width: 97%;">
                                    <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
                                        <a class="btn btn-primary" th:href="@{/board/{category}/{boardId}/great(category=${board.category.name}, boardId=${board.id})}">
                                            <i class="cui-thumb-up"></i>&nbsp;추천</a>
                                    </div>
                                    <hr class="my-4">
                                </div>

                                    <div class="container" style="max-width: 97%;">
                                        <i class="cui-speech"></i>&nbsp;댓글 [<span th:text="${board.commentList.size()}"></span>]</a>
                                        <div class="row" th:each="comment, iterstat : ${board.commentList}" th:remove="${iterstat.index % 2 == 0} ? 'none' : 'all'">
                                            <div class="col-sm-12 col-xl-6" >
                                                <div class="card border-success" th:object="${board.commentList.get(iterstat.index)}">
                                                    <form method="post" th:action="@{/board/{category}/reply/delete(category=${board.category.name})}">
                                                        <div class="card-header">
                                                            <strong th:text="*{user.nickname}"></strong>님
                                                            <span class="float-right" th:text="*{#temporals.format(date.regDate, 'yyyy/MM/dd HH:mm')}"></span>
                                                        </div>
                                                        <div class="card-body">
                                                            <p th:text="'누가 : ' + *{content.who}"></p>
                                                            <p th:text="'언제 : ' + *{content.when}"></p>
                                                            <p th:text="'어디서 : ' + *{content.where}"></p>
                                                            <p th:text="'무엇을 : ' + *{content.what}"></p>
                                                            <p th:text="'어떻게 : ' + *{content.how}"></p>
                                                            <p th:text="'왜 : ' + *{content.why}"></p>
                                                            <input type="hidden" name="boardId" th:value="${board.id}">
                                                            <input type="hidden" name="commentId" th:value="*{id}">
                                                            <button sec:authorize="isAuthenticated()" th:remove="${loginUser.id} == *{user.id} ? 'none' : 'all'" type="submit" class="btn btn-sm btn-danger float-right" >
                                                                <i class="fa fa-dot-circle-o"></i> 삭제</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-xl-6" th:remove="${board.commentList.size() < (iterstat.count + 1)} ? 'all' : 'none'">
                                                <div class="card border-success" th:object="${board.commentList.get(iterstat.index + 1)}">
                                                    <form method="post" th:action="@{/board/{category}/reply/delete(category=${board.category.name})}">
                                                        <div class="card-header">
                                                        <strong th:text="*{user.nickname}"></strong>님
                                                        <span class="float-right" th:text="*{#temporals.format(date.regDate, 'yyyy/MM/dd HH:mm')}"></span>
                                                    </div>
                                                        <div class="card-body" >
                                                            <p th:text="'누가 : ' + *{content.who}"></p>
                                                            <p th:text="'언제 : ' + *{content.when}"></p>
                                                            <p th:text="'어디서 : ' + *{content.where}"></p>
                                                            <p th:text="'무엇을 : ' + *{content.what}"></p>
                                                            <p th:text="'어떻게 : ' + *{content.how}"></p>
                                                            <p th:text="'왜 : ' + *{content.why}"></p>
                                                            <input type="hidden" name="boardId" th:value="${board.id}">
                                                            <input type="hidden" name="commentId" th:value="*{id}">
                                                            <button type="submit" sec:authorize="isAuthenticated()" th:remove="${loginUser.id} == *{user.id} ? 'none' : 'all'" class="btn btn-sm btn-danger float-right" >
                                                                <i class="fa fa-dot-circle-o"></i> 삭제</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="container">
                                    <div class="card">
                                        <form method="post" th:object="${commentFormDto}" >
                                            <div class="card-header">
                                                <i class="cui-pencil"></i> 댓글 쓰기
                                            </div>
                                            <div class="card-body">
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        누가<input type="text" class="form-control" th:field="*{who}">
                                                    </li>
                                                    <li class="list-group-item">
                                                        언제<input type="text" class="form-control" th:field="*{when}" >
                                                    </li>
                                                    <li class="list-group-item">
                                                        어디서<input type="text" class="form-control" th:field="*{where}" >
                                                    </li>
                                                    <li class="list-group-item">
                                                        무엇을<input type="text" class="form-control" th:field="*{what}" >
                                                    </li>
                                                    <li class="list-group-item">
                                                        어떻게<input type="text" class="form-control" th:field="*{how}" >
                                                    </li>
                                                    <li class="list-group-item">
                                                        왜<input type="text" class="form-control" th:field="*{why}" >
                                                    </li>
                                                </ul>
                                                <div class="navbar">
                                                    <ul class="nav navbar-nav ml-auto">
                                                    </ul>
                                                    <button type="submit" class="btn btn-brand btn-lg btn-tumblr" th:formaction="@{/board/{category}/{boardId}/reply/write(category=${board.category.name}, boardId=${board.id})}" style="margin-bottom: 4px">
                                                        <span>등록</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        </div>
    <footer class="app-footer">
        <div>
            <a href="#">UCaMu</a>
            <span>© 2018 creativeLabs.</span>
        </div>
        <div class="ml-auto">
            <span>Developed by</span>
            <a href="#">김병수</a>
        </div>
        </footer>
</body>
</html>