<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
<th:block layout:fragment="body_main">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">
            <a href="#">유카뮤니티</a>
        </li>
        <li class="breadcrumb-item active">자유게시판</li>
    </ol>
    <main class="main">
        <br>
        <div class="container-fluid">
            <div class="animated fadeIn">

            </div>
        </div>
    </main>
</th:block>
</html>