<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
<th:block layout:fragment="body_main">
    <main class="main">
        <br>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        <strong>글쓰기</strong>
                        <small>자유게시판</small>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="who">누가</label>
                            <input type="text" class="form-control" id="who" placeholder="ex) 내가">
                        </div>
                        <div class="form-group">
                            <label for="when">언제</label>
                            <input type="text" class="form-control" id="when" placeholder="ex) 지금">
                        </div>
                        <div class="form-group">
                            <label for="where">어디서</label>
                            <input type="text" class="form-control" id="where" placeholder="ex) 유카뮤에서">
                        </div>
                        <div class="form-group">
                            <label for="what">무엇을</label>
                            <input type="text" class="form-control" id="what" placeholder="ex) 게시글을">
                        </div>
                        <div class="form-group">
                            <label for="how">어떻게</label>
                            <input type="text" class="form-control" id="how" placeholder="ex) 간단하게 예시를 들면서 작성하고 있다">
                        </div>
                        <div class="form-group">
                            <label for="why">왜</label>
                            <input type="text" class="form-control" id="why" placeholder="ex) 작성하는 방법을 모를까봐">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-dot-circle-o"></i> 등록</button>
                        &nbsp;
                        <button type="reset" class="btn btn-sm btn-danger">
                            <i class="fa fa-ban"></i> 취소</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>
</html>