<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">유카뮤니티</li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="nav-icon icon-drop"></i> 자유 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="nav-icon icon-pencil"></i> 사진 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="nav-icon icon-pencil"></i> 이슈 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="nav-icon icon-pencil"></i> 팁 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="nav-icon icon-pencil"></i> 고민 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="nav-icon icon-pencil"></i> 질문 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="nav-icon icon-pencil"></i> 토론 </a>
            </li>
            <!--<li class="divider"></li>-->
        </ul>
    </nav>
</div>