<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="body" class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<th:block th:include="fragments/common/body_header"></th:block>
<div class="app-body">
<th:block th:include="fragments/common/body_sidebar"></th:block>
<th:block layout:fragment="body_main"></th:block>
</div>
<th:block th:include="fragments/common/body_footer"></th:block>
</body>
</html>